La unidad de marketing de una empresa se ha puesto en contacto con usted a fin de que le ayude a comprender de mejor manera las interacciones que está teniendo en sus diferentes posteos dentro de la red social Facebook, puesto que últimamente parecen no cumplir con sus expectativas. Para esto conviene conocer que una interacción se entiende como cualquier acción realizada a nivel de una publicación, es decir, comentar, dar “like” o compartir.

Visto esto, usted propone crear un modelo que prediga cuántas interacciones tendrá un posteo determinado sobre la base de las características propias de dicho posteo.

Es así que la empresa comparte con usted la tabla facebook_posts.csv, que contiene datos respecto a los posteos realizados el año pasado. En este archivo se muestran las siguientes columnas:


* tipo: Categoría del contenido que muestra el posteo
* categoria: Etapa del funnel a la que pretende apuntar el posteo
* mes: Mes en el que se hizo el posteo
* dia_semana: Día de la semana (Lun–Dom) en que se hizo el posteo
* hora: Hora del día en que se hizo el posteo
* pautado: Si el posteo involucró un gasto promocional o fue orgánico
* alcance: Público objetivo al que se pretendió llegar con el posteo
* impresiones: Número de impresiones realizadas del posteo
* usuarios: Número de usuarios a quienes les apareció el posteo
* clicks: Número de clicks que se hicieron en el posteo
* interacciones: Número de comentarios, likes y clicks en compartir que se hicieron en el posteo

In [2]:
# Importamos las librerias a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Diagnostico Inicial

In [6]:
# Leemos el archivo
df = pd.read_csv('../source/facebook.csv', sep=';')
df

,tipo,categoria,mes,dia_semana,hora,pautado,alcance,impresiones,usuarios,clicks,interacciones
0,Foto,Producto,12,4,3,No,2752,5091,109,159,100
1,Estado,Producto,12,3,10,No,10460,19057,1361,1674,164
2,Foto,Inspiracion,12,3,3,No,2413,4373,113,154,80
3,Foto,Producto,12,2,10,Si,50128,87991,790,1119,1777
4,Foto,Producto,12,2,3,No,7244,13594,410,580,393
...,...,...,...,...,...,...,...,...,...,...,...
495,Foto,Inspiracion,1,7,2,No,4684,7536,708,985,84
496,Foto,Producto,1,5,8,No,3480,6229,508,687,75
497,Foto,Accion,1,5,2,No,3778,7216,572,795,115
498,Foto,Inspiracion,1,4,11,No,4156,7564,574,832,136
499,Foto,Producto,1,4,4,No,4188,7292,524,743,119

* Analizaremos la variabilidad en atributos no numericos
* Estudiar datos atipicos en conjunto de datos numericos

In [10]:
print(df['tipo'].value_counts())
print()
print(df['categoria'].value_counts())
print()
print(df['mes'].value_counts())

tipo
Foto      426
Estado     45
Link       22
Video       7
Name: count, dtype: int64

categoria
Accion         215
Inspiracion    155
Producto       130
Name: count, dtype: int64

mes
10    60
7     52
12    50
4     50
6     49
11    45
5     37
9     36
3     36
8     34
2     26
1     25
Name: count, dtype: int64